:host {
    ::ng-deep {
        .custom-menu {
            top: 52px!important;
            right: 29px;
            inset-inline-start: unset !important;
            max-width: calc(100% - 58px);
        }
    }
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: unset;
    border: none;
    padding: 6px 8px;
}

.top-shadow {
    box-shadow: 0 0 13px 7px rgba(0,0,0,0.15);
}
