<div class="grid grid-cols-1 gap-4">

    <p-card header="Opções" [(appOnClickClear)]="selecionado">
        <form [formGroup]="form" (ngSubmit)="submit()">

            <!-- GRID PRINCIPAL -->
            <div class="grid grid-cols-1 lg:grid-cols-12 lg:grid-rows-2 gap-6 mt-3">

                <!-- CLIENTE -->
                <div class="order-1 lg:order-none lg:col-span-9 lg:row-span-1 flex flex-col gap-2">
                    <label id="cliente-label" class="font-semibold">Cliente</label>
                    <p-select
                        aria-labelledby="cliente-label"
                        class="w-full"
                        panelStyleClass="full-width-select-panel"
                        [class.ng-dirty]="form.get('cliente')?.touched"
                        [options]="listaClientes"
                        formControlName="cliente"
                        placeholder="Selecione o cliente"
                        [virtualScroll]="true"
                        [virtualScrollItemSize]="30.8"
                        [virtualScrollOptions]="options"
                        [loading]="loading.clientes"
                        [emptyMessage]="loading.clientes ? 'Carregando...' : 'Nenhum Cliente encontrado'"
                        optionValue="id"
                        size="large"
                        [showClear]="true"
                        (onShow)="onOpenClientes()"
                    >
                        <ng-template #selectedItem let-selectedOption>
                            <div
                                class="w-full grid grid-cols-[170px_1fr] gap-3 items-center"
                            >
                                <div class="font-mono whitespace-nowrap hidden md:block">
                                    {{
                                        selectedOption.cpf_cnpj | mask : (
                                            selectedOption.cpf_cnpj?.length === 11
                                                ? '000.000.000-00'
                                                : '00.000.000/0000-00'
                                        )
                                    }}
                                </div>
                                <div class="truncate">
                                    {{ selectedOption.nome_razaosocial }}
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #header>
                            <div class="w-full flex flex-col gap-2 p-[.25rem] border-b border-gray-200">

                                <!-- INPUT DE FILTRO -->
                                <div class="p-[.5rem_.75rem]">
                                    <p-iconfield>
                                        <p-inputicon class="pi pi-search" />
                                        <input
                                            type="text"
                                            pInputText
                                            class="w-full p-2 border rounded-md text-sm"
                                            placeholder="Buscar cliente por Nome, CPF ou CNPJ"
                                            [value]="clientesFiltro"
                                            (input)="onFiltroInput($event)"
                                            (mousedown)="$event.stopPropagation()"
                                            (click)="$event.stopPropagation()"
                                            (keydown)="$event.stopPropagation()"
                                        />
                                    </p-iconfield>
                                </div>

                                <!-- HEADER DA TABELA -->
                                <div
                                    class="w-full grid grid-cols-[170px_1fr] p-[.5rem_.75rem] font-semibold uppercase"
                                >
                                    <div class="font-mono whitespace-nowrap hidden xs:block sm:block">CPF / CNPJ</div>
                                    <div class="truncate">Nome / Razão Social</div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template let-cliente #item>
                            <div
                                class="w-full grid grid-cols-[170px_1fr] gap-3 items-center"
                            >
                                <div class="font-mono whitespace-nowrap hidden xs:block sm:block">
                                    {{
                                        cliente.cpf_cnpj | mask : (
                                            cliente.cpf_cnpj?.length === 11
                                                ? '000.000.000-00'
                                                : '00.000.000/0000-00'
                                        )
                                    }}
                                </div>
                                <div class="truncate ">
                                    {{ cliente.nome_razaosocial }}
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #footer>
                            @if (loading.clientes && clientesFiltro.length === 0) {
                                <div class="p-3">
                                    <p>Carregando...</p>
                                </div>
                            }
                        </ng-template>
                    </p-select>
                    <app-validator-message [control]="form.get('cliente')" />
                </div>

                <!-- STATUS -->
                <div class="order-3 lg:order-none lg:col-span-3 lg:row-span-2">
                    <div class="flex flex-col gap-4 border rounded-md p-4 h-full">
                        <label id="status_label" class="font-semibold">
                            Status
                        </label>

                        <div class="flex flex-col justify-around h-full gap-2">
                            @for (status of listaStatus; track $index) {
                                <div class="flex items-center justify-between w-full my-1">
                                    <label
                                        class="flex items-center gap-2 flex-1 cursor-pointer"
                                        [for]="status.value"
                                    >
                                        <p-radio-button
                                            ariaLabelledBy="status_label"
                                            [inputId]="status.value"
                                            name="status"
                                            [value]="status.value"
                                            formControlName="status"
                                        />
                                        <span>{{ status.label }}</span>
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                </div>


                <!-- EMPRESAS -->
                <div class="order-2 lg:order-none lg:col-span-9 lg:row-span-1 flex flex-col gap-2">
                    <label for="un_label" class="font-semibold">Unidades de negócio</label>
                    <p-multi-select
                        inputId="un_label"
                        [options]="listaEmpresas"
                        formControlName="empresas"
                        optionLabel="razao_social"
                        [loading]="loading.empresas"
                        optionValue="id"
                        placeholder="Selecione as empresas"
                        [showClear]="true"
                        display="chip"
                        class="w-full"
                        size="large"
                        [maxSelectedLabels]="99"
                    >
                        <ng-template #header>
                            <div class="font-medium px-3 py-2">Empresas disponíveis</div>
                        </ng-template>
                    </p-multi-select>
                    <app-validator-message [control]="form.get('empresas')" />
                </div>

            </div>

            <div class="flex flex-row content-stretch gap-2 col-span-12 pt-8">
                <button
                    pButton
                    type="submit"
                    severity="info"
                    [fluid]="true"
                >
                    <i class="pi pi-check" pButtonIcon></i>
                    <span pButtonLabel>Filtrar</span>
                </button>
            </div>

        </form>
    </p-card>

    @if (selecionado !== undefined) {
        <app-notas-fiscais [dados]="selecionado"></app-notas-fiscais>
    }
</div>

<!--<pre>-->
<!--    <code>-->
<!--        {{form.value|json}}-->
<!--    </code>-->
<!--</pre>-->
