<form [formGroup]="form" class="space-y-6" (ngSubmit)="salvar()">

    <!-- Mensagem -->
    <!--    <div class="w-full mb-6 pt-1">-->
    <!--        -->
    <!--    </div>-->

    <!-- Campos -->
    <div class="space-y-4 pt-1">

        <div class="grid grid-cols-1 xl:grid-cols-[100px_1fr] gap-2 lg:gap-4 items-start lg:items-center">
            <label class="font-medium">
                Nota fiscal
            </label>

            <div class="flex flex-col space-y-1">
                <p-message
                    severity="info"
                    size="large"
                    variant="outlined"
                    class="w-full"
                >
                    {{ notaFiscal.nota_fiscal }}
                </p-message>
            </div>
        </div>

        <div class="grid grid-cols-1 xl:grid-cols-[100px_1fr] gap-2 lg:gap-4 items-start lg:items-center">
            <label class="font-medium">
                Serie
            </label>

            <div class="flex flex-col space-y-1">
                <p-message
                    severity="info"
                    size="large"
                    variant="outlined"
                    class="w-full"
                >
                    {{ notaFiscal.serie }}
                </p-message>
            </div>
        </div>

        <!-- Empresa -->
        <div class="grid grid-cols-1 xl:grid-cols-[100px_1fr] gap-2 lg:gap-4 items-start lg:items-center">
            <label class="font-medium">
                Produto
            </label>

            <div class="flex flex-col space-y-1">
                <p-select
                    class="w-full"
                    formControlName="material_id"
                    [options]="listaMateriais"
                    optionLabel="descricao"
                    optionValue="codigo"
                    placeholder="Selecione o produto"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="30.8"
                    [virtualScrollOptions]="optionsMateriais"
                    [loading]="loading.produtos"
                    [emptyMessage]="loading.produtos ? 'Carregando...' : 'Nenhum produto encontrado'"
                    appendTo="body"
                    [showClear]="true"
                    size="large"
                    [invalid]="submitted && form.get('material_id')?.invalid"
                    (onShow)="onOpenMateriais()"
                >
                    <!-- ITEM SELECIONADO -->
                    <ng-template #selectedItem let-selected>
                        <div class="grid grid-cols-[120px_1fr] gap-2 items-center">
                            <div class="font-mono text-sm truncate">
                                {{ selected.codigo }}
                            </div>
                            <div class="truncate">
                                {{ selected.descricao }}
                            </div>
                        </div>
                    </ng-template>

                    <!-- HEADER COM FILTRO -->
                    <ng-template #header>
                        <div class="flex flex-col gap-2 p-2 border-b">
                            <p-iconfield>
                                <p-inputicon class="pi pi-search" />
                                <input
                                    pInputText
                                    type="text"
                                    class="w-full"
                                    placeholder="Buscar por código ou descrição"
                                    [value]="materiaisFiltro"
                                    (input)="onFiltroMateriais($event)"
                                    (mousedown)="$event.stopPropagation()"
                                    (click)="$event.stopPropagation()"
                                    (keydown)="$event.stopPropagation()"
                                />
                            </p-iconfield>

                            <div class="grid grid-cols-[120px_1fr] text-sm font-semibold">
                                <div>Código</div>
                                <div>Descrição</div>
                            </div>
                        </div>
                    </ng-template>

                    <!-- ITEM DA LISTA -->
                    <ng-template #item let-material>
                        <div class="grid grid-cols-[120px_1fr] gap-2 items-center">
                            <div class="font-mono text-sm truncate">
                                {{ material.codigo }}
                            </div>
                            <div class="truncate">
                                {{ material.descricao }}
                            </div>
                        </div>
                    </ng-template>
                </p-select>

                @if (submitted) {
                    <app-validator-message [control]="form.get('material_id')" />
                }
            </div>
        </div>

        <!-- Nota Fiscal -->
        <div class="grid grid-cols-1 xl:grid-cols-[100px_1fr] gap-2 lg:gap-4 items-start lg:items-center">
            <label class="font-medium">
                Faturado
            </label>

            <div class="flex flex-col space-y-1">
                <p-input-number
                    formControlName="faturado"
                    [useGrouping]="false"
                    [minFractionDigits]="0"
                    [maxFractionDigits]="0"
                    [max]="99999999999999"
                    [min]="1"
                    size="large"
                    mode="decimal"
                    inputMode="numeric"
                    [fluid]="true"
                    [invalid]="submitted && form.get('faturado')?.touched && form.get('faturado')?.invalid"
                />
                @if (submitted) {
                    <app-validator-message [control]="form.get('faturado')" />
                }
            </div>
        </div>

        <!-- Série -->
        <div class="grid grid-cols-1 xl:grid-cols-[100px_1fr] gap-2 lg:gap-4 items-start lg:items-center">
            <label class="font-medium">
                Saldo devedor
            </label>

            <div class="flex flex-col space-y-1">
                <p-input-number
                    formControlName="saldo_devedor"
                    [useGrouping]="false"
                    [minFractionDigits]="0"
                    [maxFractionDigits]="0"
                    [max]="99999999999999"
                    [min]="0"
                    size="large"
                    mode="decimal"
                    inputMode="numeric"
                    [fluid]="true"
                    [invalid]="submitted && form.get('saldo_devedor')?.touched && form.get('saldo_devedor')?.invalid"
                />
                @if (submitted) {
                    <app-validator-message [control]="form.get('saldo_devedor')" />
                }
            </div>
        </div>
    </div>

    <!-- Ações -->
    <div class="flex justify-between pt-6">
        <p-button
            pRipple
            type="button"
            label="Cancelar"
            severity="secondary"
            size="large"
            (click)="close()"
        ></p-button>

        <p-button
            pRipple
            type="submit"
            label="Salvar"
            size="large"
        ></p-button>
    </div>
</form>
@if (notaFiscalItem) {
    <div class="col-span-12 mt-6">
        <p-message severity="secondary" class="block">
            <div class="grid grid-cols-1 gap-4 text-sm">

                <!-- Cadastro -->
                <div>
                    <p class="font-semibold mb-1">Cadastro:</p>
                    <div class="grid grid-cols-1">
                        <p>
                            <span class="font-medium">Usuário:</span>
                            {{ notaFiscalItem?.criado_por?.nome }}
                        </p>
                        <p>
                            <span class="font-medium">Data:</span>
                            {{ notaFiscalItem?.created_at | date: "dd/MM/yyyy 'às' HH:mm:ss" }}
                        </p>
                    </div>
                </div>

                <!-- Atualização -->
                <div>
                    <p class="font-semibold mb-1">Atualização:</p>
                    <div class="grid grid-cols-1">
                        <p>
                            <span class="font-medium">Usuário:</span>
                            {{ notaFiscalItem?.atualizado_por?.nome }}
                        </p>
                        <p>
                            <span class="font-medium">Data:</span>
                            {{ notaFiscalItem?.updated_at | date: "dd/MM/yyyy 'às' HH:mm:ss" }}
                        </p>
                    </div>
                </div>

            </div>
        </p-message>
    </div>
}
