<div class="max-w-7xl mx-auto">
    <p-card>
        <div class="p-4 space-y-4">

            <!-- Seletor de arquivo -->
            <div class="flex gap-2 items-end">
                <div class="flex-1">
                    <label class="block text-sm font-medium mb-1">Arquivo de log</label>

                    <p-select
                        [options]="arquivos"
                        optionLabel="file"
                        [(ngModel)]="arquivoSelecionado"
                        placeholder="Selecione um log"
                        class="w-full"
                        (onChange)="limpar()"
                    >
                        <ng-template #selectedItem let-selectedOption>
                            <div class="flex justify-between w-full">
                                <span>{{ selectedOption.file }}</span>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="item" let-item>
                            <div class="flex justify-between w-full">
                                <span>{{ item.file }}</span>
                                <span class="text-xs text-gray-500">{{ item.size_kb }} KB</span>
                            </div>
                        </ng-template>
                    </p-select>
                </div>

                <p-button
                    label="Carregar"
                    icon="pi pi-refresh"
                    severity="primary"
                    [disabled]="!arquivoSelecionado || loading"
                    (click)="onSelecionarArquivo()"
                />
            </div>


            <!-- TreeTable -->
            <p-treeTable
                [value]="treeNodes"
                [loading]="loading"
                tableStyleClass="w-full"
                class="shadow rounded-lg p-treetable-sm"
                showGridlines
            >
                <ng-template #header>
                    <tr>
                        <th>#</th>
                        <th>Data / Hora</th>
                        <th>Nível</th>
                        <th>Ambiente</th>
                        <th style="width: 128px">Opções</th>
                    </tr>
                </ng-template>

                <ng-template #body let-rowNode let-rowData="rowData">
                    <tr
                        [ttRow]="rowNode"
                        class="border-b border-[#e2e8f0] dark:border-[#27272a]"
                    >
                        <td>
                            {{ rowData.id }}
                        </td>
                        <td>
                            @if (rowNode.children?.length) {
                                <p-treeTableToggler [rowNode]="rowNode" />
                            }
                            {{ rowData.timestamp }}
                        </td>
                        <td>
                            @switch (rowData.level) {
                                @case ('error') {
                                    <p-tag
                                        severity="danger"
                                        icon="pi pi-times"
                                        [value]="rowData.level | titlecase"
                                        size="large"
                                        [rounded]="true"
                                    />
                                }
                                @case ('critical') {
                                    <p-tag
                                        severity="danger"
                                        icon="pi pi-times"
                                        [value]="rowData.level | titlecase"
                                        size="large"
                                        [rounded]="true"
                                    />
                                }
                                @case ('warning') {
                                    <p-tag
                                        severity="warn"
                                        icon="pi pi-exclamation-triangle"
                                        [value]="rowData.level | titlecase"
                                        size="large"
                                        [rounded]="true"
                                    />
                                }
                                @case ('info') {
                                    <p-tag
                                        severity="info"
                                        icon="pi pi-info-circle"
                                        [value]="rowData.level | titlecase"
                                        size="large"
                                        [rounded]="true"
                                    />
                                }
                                @case ('success') {
                                    <p-tag
                                        severity="success"
                                        icon="pi pi-check"
                                        [value]="rowData.level | titlecase"
                                        [rounded]="true"
                                    />
                                }
                                @default {
                                    <p-tag
                                        severity="secondary"
                                        icon="pi pi-filter"
                                        [value]="rowData.level | titlecase"
                                        size="large"
                                        [rounded]="true"
                                    />
                                }
                            }
                        </td>
                        <td class="capitalize">{{ rowData.environment }}</td>
                        <td>
                            <p-button
                                icon="pi pi-eye"
                                label="Detalhar"
                                severity="secondary"
                                size="small"
                                (click)="abrirDialog(rowData._original)"
                            />
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr class="border-b border-[#e2e8f0] dark:border-[#27272a]">
                        <td colspan="5">
                            <p class="text-center py-6 text-gray-400">Nenhum log para exibir</p>
                        </td>
                    </tr>
                </ng-template>
            </p-treeTable>
        </div>
    </p-card>
</div>

<p-dialog
    header="Detalhes do Log"
    [(visible)]="dialogVisible"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [maximizable]="false"
    appendTo="body"
>

    @if (logSelecionado) {
        <div class="space-y-3 text-sm">

            <div class="grid grid-cols-1 gap-4">
                <div class="text-surface-900 dark:text-surface-0 font-medium mr-2 mb-1 md:mb-0">
                    <h6>Data / Hora:</h6>
                    <p>{{ logSelecionado.timestamp }}</p>
                </div>

                <div class="text-surface-900 dark:text-surface-0 font-medium mr-2 mb-1 md:mb-0">
                    <h6>Ambiente:</h6>
                    <p class="capitalize">{{ logSelecionado.environment }}</p>
                </div>

                <div class="text-surface-900 dark:text-surface-0 font-medium mr-2 mb-1 md:mb-0">
                    <h6>Nível:</h6>
                    @switch (logSelecionado.level) {
                        @case ('error') {
                            <p-tag
                                severity="danger"
                                [value]="logSelecionado.level | titlecase"
                                icon="pi pi-times"
                                [rounded]="true"
                            />
                        }
                        @case ('critical') {
                            <p-tag
                                severity="danger"
                                [value]="logSelecionado.level | titlecase"
                                icon="pi pi-times"
                                [rounded]="true"
                            />
                        }
                        @case ('warning') {
                            <p-tag
                                severity="warn"
                                [value]="logSelecionado.level | titlecase"
                                icon="pi pi-exclamation-triangle"
                                [rounded]="true"
                            />
                        }
                        @case ('info') {
                            <p-tag
                                severity="info"
                                [value]="logSelecionado.level | titlecase"
                                icon="pi pi-info-circle"
                                [rounded]="true"
                            />
                        }
                        @case ('success') {
                            <p-tag
                                severity="success"
                                [value]="logSelecionado.level | titlecase"
                                icon="pi pi-check"
                                [rounded]="true"
                            />
                        }
                        @default {
                            <p-tag
                                severity="secondary"
                                [value]="logSelecionado.level | titlecase"
                                icon="pi pi-filter"
                                size="large"
                                [rounded]="true"
                            />
                        }
                    }
                </div>

                <div>
                    <h6>Mensagem:</h6>
                    <p>
                        {{ logSelecionado.message }}
                    </p>
                </div>
                <p-panel header="Corpo">
                    <pre
                        class="
                        bg-[#2E3440] border-l-5 border-[#6f7b93] rounded text-xs
                        whitespace-pre-wrap break-words
                        max-h-[40vh] overflow-auto
                        "
                    >
                        <code
                            [highlight]="(logSelecionado.body !== null ? logSelecionado.body : {}) | json"
                            language="json"
                        ></code>
                    </pre>
                </p-panel>
            </div>
        </div>
    }
</p-dialog>
