/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './demo/demo.scss';

@import 'highlight.js/styles/nord.css';


.app-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--surface-ground);
    z-index: 9999;
    transition: opacity 0.5s ease-in-out;
}

/* Exemplo de um spinner simples */
.app-loading::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Classe para esconder com suavidade */
.app-loading.hidden {
    opacity: 0;
    pointer-events: none;
}

.text-success {
    color: var(--p-button-text-success-color) !important;
}

.text-error {
    color: var(--p-button-text-danger-color) !important;
}

.text-info {
    color: var(--p-button-text-info-color) !important;
}

.text-warn {
    color: var(--p-button-text-warn-color) !important;
}

.text-secondary {
    color: var(--p-button-text-secondary-color) !important;
}

.text-contrast {
    color: var(--p-button-text-contrast-color) !important;
}

//@media (min-width: 992px) {
//    .layout-wrapper {
//        &.layout-overlay {
//            .layout-main-container {
//                margin-left: 0;
//                padding-left: 2rem;
//            }
//
//            .layout-sidebar {
//                transform: translateX(-100%);
//                left: 0;
//                top: 0;
//                height: 100vh;
//                border-top-left-radius: 0;
//                border-bottom-left-radius: 0;
//                border-right: 1px solid var(--surface-border);
//                transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99),
//                left 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
//                box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02),
//                0px 0px 2px rgba(0, 0, 0, 0.05),
//                0px 1px 4px rgba(0, 0, 0, 0.08);
//            }
//
//            &.layout-overlay-active {
//                .layout-sidebar {
//                    transform: translateX(0);
//                }
//            }
//        }
//
//        &.layout-static {
//            .layout-main-container {
//                margin-left: 22rem;
//            }
//
//            &.layout-static-inactive {
//
//                .layout-sidebar {
//                    &:not(:hover) {
//                        //transform: translateX(-100%);
//                        //left: 0;
//                        width: unset !important;
//
//                        ul.layout-menu {
//                            &:hover {
//                                color: yellow;
//                            }
//
//                            li {
//                                > .layout-menuitem-root-text {
//                                    display: none !important;
//                                }
//
//                                > a {
//                                    > .layout-menuitem-icon {
//                                        margin-right: 0 !important;
//                                    }
//
//                                    > span.layout-menuitem-text {
//                                        display: none !important;
//                                    }
//                                }
//                            }
//
//                        }
//
//                        .layout-main-container {
//                            margin-left: 9rem;
//                            padding-left: 2rem;
//                        }
//                    }
//                }
//            }
//        }
//
//        .layout-mask {
//            display: none;
//        }
//    }
//}
